.login-text {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.724px;
  letter-spacing: -0.96px;
}
.auth-content {
  display: flex;
  /* width: 460px; */
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.login-desc {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.934px;
  letter-spacing: -0.54px;
}
.logo-head {
  color: #11292e;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.logo-lead {
  color: #11292e;
  font-family: Poppins;
  font-size: 32.156px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.auth-btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.934px;
  letter-spacing: -0.51px;
  background: #1C4909;
  width: 100%;
  height: 42px;
}
.auth-question {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.934px;
  letter-spacing: -0.54px;
}
.auth-link {
  color: #cdcdff;
}
.auth-input {
  border-radius: 4px;
  border: 1px solid #fefefe;
  background: #020065;
  padding: 19px 22px;
  color: #c9c8ff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.934px;
  height: 66px;
  letter-spacing: -0.54px;
}
.auth-label {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.934px;
  letter-spacing: -0.48px;
}
.auth-btn,
[type="button"],
[type="reset"],
[type="submit"] {
  /* background-color: transparent; */
  background-color: #117700 !important;
}
